.better-clock {
    display: block;
    width: 300px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto 20px;

    text-align: center;

    &__time {
        color: black;
        font-size: 48px;
    }
}